body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-royalblue: #1f7cff;
  --color-ghostwhite: #f5f6fb;
  --color-dimgray: #575455;
  --color-black: #000;
  --color-tomato: #f75c4e;
  --color-gray: #070f18;
  --color-aliceblue: #eaecf2;

  /* Gaps */
  --gap-111xl: 130px;
  --gap-51xl: 70px;
  --gap-xl: 20px;
  --gap-7xs: 6px;
  --gap-41xl: 60px;
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-smi: 13px;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-base: 16px;
  --br-29xl: 48px;
}
